[Unit]
Description=set hostname to something readable, deterministic, and probably unique.

[Service]
Type=oneshot
ExecStart=/bin/sh -c "pushd /usr/local/sbin/hostname_generator/ ; change_hostname.sh $(./name_gen.sh $(cat /sys/class/net/eth0/address))"
[Install]
WantedBy=multi-user.target
