# https://github.com/BrettRD/hostname_generator
# should be cloned into /usr/local/sbin/hostname_generator/
[Unit]
Description=set hostname to something readable, deterministic, and probably unique.

[Service]
Type=oneshot
# using the ethernet mac address should be ok, buit is randomised at boot on some systems
#ExecStart=/bin/bash -c 'pushd /usr/local/sbin/hostname_generator/ && ./change_hostname.sh $$(./name_gen.sh $$(cat /sys/class/net/eth0/address))'
# some systems list a serial number in /proc/cpuinfo
ExecStart=/bin/bash -c 'pushd /usr/local/sbin/hostname_generator/ && ./change_hostname.sh $$(./name_gen.sh $$(cat /proc/cpuinfo | grep Serial | sed -r \'s/.*: ([0-9]*)/\\1/g\'))'

[Install]
WantedBy=multi-user.target
